* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.carousel-caption {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px 10px;
  margin-bottom: 50px;
}
.u-containProse {
  object-fit: cover;
  height: 40vh;
  width: 42vh;
}

.hero {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(80%);
  border-radius: 3px;
}
.anuncio {
  width: 75vh;
  height: 90vh;
  object-fit: cover;
}
.container2 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: green;
}
.left {
  display: flex;
  flex: 8;
  background-color: brown;
  flex-direction: column;
}
.right {
  display: flex;
  flex: 2;
  background-color: aqua;
  flex-direction: column;
  max-width: 25vw;
}
.ad {
  flex: 9;
  background-color: yellow;
  overflow: hidden;

  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
  -webkit-filter: brightness(80%);
  filter: brightness(100%);
  border-radius: 3px;
}

.news {
  display: flex;
  flex: 1;
  background-color: brown;
  padding: 1rem;
  max-height: 80%;
  max-width: 75vw;
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* roxo (purple), azul (cornflowerblue), laranja (coral) */
.logo {
  display: flex;
  flex: 1;
  background-color: purple;

  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
  text-align: center;
  max-height: 25vh;
  max-width: 25vw;
}
.date {
  display: flex;
  flex: 2;
  background-color: cornflowerblue;

  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  text-align: center;
  max-height: 35vh;
}
.image {
  display: flex;
  flex: 2;
  max-height: 40vh;
  max-width: 25vw;
  object-fit: cover;
}

@media (max-width: 1500px) {
  div .date {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  div .logo {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  div .date {
    font-size: 1.5rem;
  }

  div .logo {
    font-size: 1.5rem;
  }
}
